@font-face {
    font-family: tommy;
    src: url(tommy.otf); 
  }
  @font-face {
    font-family: tommybold;
    src: url(tommybold.otf);
  }
  @font-face {
	  font-family: tommylight;
	  src: url(tommylight.otf);
  }
  @font-face {
	  font-family: panton;
	  src: url(panton.otf);
  }
 
    html {
    font-family: madetommy;
  }
  *, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(0, 0, 0);
  }
  #overlay-toggle {
    position:absolute;
    display: none;
  }

  .debold{
    font-weight:normal
  }
  .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .overlay {
    z-index: 1;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
	backdrop-filter:blur(10px);
  }
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .no-hover {
    display: none;
  }
  .hover {
    display: none;
  }
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
	backdrop-filter:blur(2px);
  }
  .text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .text-content h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  .text-content p {
    padding-top: 0.001px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.0;
    color: rgb(255, 255, 255);
    display: flex;
  }
  
  .text-content p2 {
	position: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 0.0;
    color: rgb(255, 255, 255);
    display: flex;
  }
 
  .text-content a {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.3rem;
    line-height: 0.0;
    color: rgb(255, 255, 255);
    display: flex;
  }
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 500ms, 1ms;
  }
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  @media(hover: hover) {
    .hover {
      display: block;
    }

  @keyframes fade{
    to {
      opacity: 0;
    }
  }
  @keyframes hide {
    to {
      visibility: hidden;
    }
  }